body {
    background-color: #f2f6ff;
    color: #171A3C;
    font-family: 'Poppins';
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100wh;
    
}
.box-shadow{
width: 326px;
height: 763px;
border-radius: 43px;
background: var(--171-a-3-c, #171A3C);

}

.card {

    width: 440px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 24px 27px 0px rgba(105, 113, 186, 0.16);

}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 52px 36px 41px 36px;

}

.card-header span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #171A3C;


}

.timer {
    font-size: 54px;
    text-align: center;
    font-weight: 500;
    color: #171A3C;
}

.timer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.btn-card {
    display: flex;
    padding: 24px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 162px;
    height: 72px;
    background-color: #171A3C;
    border-radius: 41px;
}

.btn-card button {
    background-color: #171A3C;
    color: #FFFFFF;
    border: none;
    font-family: Poppins;
    font-weight: 700;

}

.card-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 74px;


}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 36px;
    opacity: 0.5;

}

.table-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 11px 13px 39px;
    width: 414px;
    height: 51px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    background: #EBEDFD;
    margin-left: 15px;

}

.table-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 11px 13px 39px;
    width: 414px;
    height: 51px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 15px;
}

.table-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 11px 13px 39px;
    width: 414px;
    height: 51px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    background: #EBEDFD;
    margin-left: 15px;

}

.table-four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    padding: 14px 11px 13px 39px;
    width: 414px;
    height: 51px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;border-radius: 8px;
    background: #FFF;

}



